.imagem2 {
    background-image: url(https://www.indexmed.com.br/conecta/Content/isometric-data.png);
    background-repeat: no-repeat;
    width: 100vh ;
    min-height:67.20vh;
    background-size: cover;
    background-position:center;
}

.btnCancelar {
    margin-right: 20px !important;
}