/* Importing a font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.imagem2 {
    background-image: url(https://www.indexmed.com.br/conecta/Content/isometric-data.png);
    background-repeat: no-repeat;
    width: 100vh ;
    min-height:67.20vh;
    background-size: auto;
    background-position:center;
}

.fonte-titulo-cadastrar {
    font-family: 'Anton', sans-serif !important;
    font-weight: "bold" !important;
    color:#3d0f03!important;

}

.container-cadastrar{
    margin: 30px auto;
}

.input-cadastrar input{
    font-size: 18px;
    color: #3d0f03!important;
}

.input-cadastrar label {
    color: #3d0f03;
}

input{
    color: black!important;
  }

  .btnCancelar {
    margin-right: 20px !important;
}

